<app-side-bar></app-side-bar>
<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
     <img src="/assets/img/ftbnav.png" style="margin-top: 5px;">
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <div >
    <ion-item lines="none">
      <ion-buttons slot="start" style="margin-left: -20px; margin-right: 4px;"> 
        <ion-back-button defaultHref="home" icon="chevron-back"></ion-back-button>
       </ion-buttons>
        
    <h4>Football News</h4>
    </ion-item>
  </div>
    <ion-card *ngFor="let footnews of fnews" >
      <ion-card-header>
        <img src="{{ footnews.strThumb}}" >
       <ion-card-title>
        <ion-item lines="none">
        <h5> {{ footnews.strFilename }} </h5>
        </ion-item>
        <h6>{{ footnews.strHomeTeam }}: {{footnews.intHomeScore}}  -  {{ footnews.strAwayTeam }}: {{footnews.intAwayScore}}</h6>
       </ion-card-title>
     </ion-card-header>
      <ion-card-content>
        <h6>When: {{ footnews.dateEvent }}   Time:{{ footnews.strTimeLocal }}</h6>
        <h6>Where: {{ footnews.strVenue }}</h6>


     
         <!-- <p *ngIf="football.strGender == ''; else elseBlock ">Ay </p> -->
      </ion-card-content>
     </ion-card>
  </ion-content>
</div>
